@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

.loginPage {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;

  background-color: #f5f2fd;
  font-family: 'Inter', sans-serif;
}

.loginBrand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
}

.loginBrand h1 {
  margin: 0;
  color: #A993EC;
  font-size: 28px;
  font-weight: 700;
}

.loginBrand img {
  width: 42px;
  height: 42px;
  object-fit: contain;
}

.loginCard {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 350px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.loginCard h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

.subtitle {
  font-size: 14px;
  color: #515151;
  margin-bottom: 20px;
}

label {
  display: block;
  color: #000000;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 12px;
}

.input-group {
  display: flex;
  align-items: center;

  background: #ffffff;
  border-radius: 17px;
  border: 1px solid #DFDFE7;

  padding: 10px;
  margin-bottom: 10px;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;

  flex: 1;
  margin-left: 8px;

  color: #484545;
  font-size: 12px;
}

.inIcon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

::placeholder {
  font-size: 12px;
  color: #484545;
}

.toggle {
  cursor: pointer;
}

.forgot {
  text-align: right;
  font-size: 12px;
  color: #A993EC;
  margin-bottom: 15px;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 20px;

  background: linear-gradient(to right, #A993EC, #8F7BEA);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.08);

  color: white;
  font-weight: bold;
  cursor: pointer;

  margin-bottom: 15px;
}

