@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@500;600;700&display=swap');

.forgotPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f5f2fd;
  font-family: 'Inter', sans-serif;
}

.forgotCard {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #A993EC;
  font-family: 'Poppins', sans-serif;
}

.logoIcon {
  background: #A993EC;
  color: white;
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}

h2 {
  margin-top: 5px;
  margin-bottom: 1px;
  color:#000000;
  font-family: 'Poppins', sans-serif;
}

.subtitle {
  font-size: 14px;
  color: #515151;
  margin-top: 5px;
  margin-bottom: 20px;
}

label {
  display: block;
  color: #000000;
  text-align: left;
  margin: 10px 0 5px;
  font-size: 12px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 17px;
  border: 1px solid #DFDFE7;
  padding: 10px;
  margin-bottom: 10px;
}

.input-group input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  margin-left: 8px;
  color: #484545;
  font-size: 12px;
}

.inIcon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

::placeholder{
    font-size: 12px;
    color: #484545;
}

.sendEmail-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #A993EC, #A993EC);
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.08);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
}

.footer {
  font-size: 13px;
  color: #666;
}

.footer span {
  color: #7c6ee6;
  cursor: pointer;
}