.app {
  width: 100%;
  min-height: 100vh;
}

.navbar {
  background: linear-gradient(90deg, #c5b6ff, #a18dff);
  width: 100%;
  padding: 15px 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-logo-box {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(135deg, #9b55ef, #8140dc);
  border-radius: 10px;
  box-shadow: 0 5px 14px rgba(137, 66, 222, 0.24);
}

.nav-logo-image {
  width: 22px;
  height: 22px;
  object-fit: contain;

  /* يخلي اللوقو أبيض */
  filter: brightness(0) invert(1);
}

.logo-container span {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s;
}

.nav-links a:hover {
  opacity: 0.8;
}