.app {
  width: 100%;
  min-height: 100vh;
}

.navbar {
   background: linear-gradient(90deg, #c5b6ff, #a18dff);
   border-radius: 0 0 20px 20px;
  width: 100%;
  padding: 15px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-container img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.logo-container span {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
}

.nav-links a:hover {
  opacity: 0.8;
}